@use "variables" as *;

* {
  box-sizing: border-box;
  color: white;
}

html#html {
  height: 100%;
  scroll-behavior: smooth;

  body#body {
    min-height: 100vh;
    margin: 0;
    background: $primary;
    font-family: inherit;
    letter-spacing: 1.2;
    display: flex;
    flex-flow: column;

    &>[class*=container] {
      margin: auto auto;
    }

    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }

    h1 {
      font-size: 3.5rem;
      margin: 15px 0;
    }

    h2 {
      font-size: 3rem;
      font-weight: 500;
      margin: 10px auto;
    }

    p {
      font-size: 1rem;
      line-height: 1.75;
    }

    [disabled] {
      filter: brightness(.75);
    }

    a {
      text-decoration: none;
    }

    [class*=MuiFab-root] {
      background-color: rgba(3, 9, 28, 0.5);
    }

    [class*=MuiDivider] {
      background-color: #3C4861;
    }

    .slick-slider {
      .slick-track {
        display: flex;
        gap: 25px;
        align-items: center;

        .slick-slide {
          position: relative;

          &.slick-active {

            @media (min-width: $tablet) {
              // &:nth-child(3n+1) {
              //   @include fade-out-overlay (left, $card-bg-secondary, 20%);
              // }
              // &:nth-child(3n+3) {
              //   @include fade-out-overlay (right, $card-bg-secondary, 20%);
              // }

              &.slick-current {
                @include fade-out-overlay (left, $card-bg-secondary, 20%);

                &+div+div {
                  @include fade-out-overlay (right, $card-bg-secondary, 20%);
                }
              }
            }
          }
        }
      }
    }

    [class*="Mui"] {
      font-family: inherit;
    }

    [class*="alerts"] {
      .alert {
        background-color: #AF3C3C;
      }

      .advisory {
        background-color: #AB691C;
      }

      .community {
        background-color: #426186;
      }

      .MuiAlert-icon {
        align-items: center;
        font-size: 1em;
      }
    }

    [class*="MuiAutocomplete-noOptions"] {
      display: none;
    }

    [class*="MuiAutocomplete-endAdornment"] {
      [class*="popupIndicator"] {
        display: none;
      }
    }


    .MuiDialog-root {
      z-index: 10000;

      .MuiDialog-container {
        .MuiPaper-root {
          @include button;

          background-color: $card-bg;

          #alert-dialog-title {
            text-align: left;
            font-size: 1.5rem;
            padding-right: 55px;
          }

          [class*="MuiDialogContent"] {
            display: flex;
            flex-flow: column nowrap;

            a {
              width: fit-content;
              align-self: flex-end;
            }

            span {
              font-size: inherit !important;
            }
          }

          .progress {
            padding: 150px;
          }

        }
      }
    }

    [class*=MuiAutocomplete] {

      label#gmap-input-label {color: white;}
  
      [class*=MuiOutlinedInput] {
          background-color: $heading-bg;
          z-index: -1;
          // border: none;
  
          input#gmap-input {
              color: white;
              z-index: 0;
          }
      }
  }
  
  [class*=MuiAutocomplete-popper] {
      [class*=MuiAutocomplete-paper] {background-color: $heading-bg}
  
      p {
          color: white;
      }
  }

    .progress {
      padding: 35px 35px 0;
      display: flex;
      justify-content: center;
    }

    #not-found {
      @include btn-alt;
      position: relative;
      padding: 15% 20px;

      &::after {
        content: '';
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: center no-repeat url('https://64.media.tumblr.com/bf71d3861bae2da8551e9b1f293c84eb/tumblr_pcuxhod0XH1w8mobyo3_540.gifv');
        background-position-y: bottom;
        background-size: cover;
        filter: brightness(0.8);
      }

      * {
        text-align: center;
      }

      h2 {
        font-size: 3rem;
        margin: 10px auto;
      }

      p {
        font-size: 1.5rem;
      }
    }

    #privacy {
      &.container {
        padding: 30px 0;
      }
    }

    #about,
    #privacy.container {
      @media (max-width: $desktop) {
        padding: 0 25px;
      }
    }

    [class*=container] {
      max-width: 1200px;
      margin: 25px auto;

      .head {
        padding: 0 25px;
        p {font-size: 1.25rem;}
      }
    }

    @media (orientation: portrait) {
      :is([id*=ig-feed], [id*=fb-feed]) {display: none;}
    }

  }
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}