@use "variables" as *;

.grid {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;

    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
        "one"
        "five"
        "four"
        "two"
        // "three"
        // "six"
        "seven";

    > div {
        box-shadow: 0px 0px 5px -2px #000;

        &:nth-child(1) {
            grid-area: one;
        }

        &:nth-child(2) {
            grid-area: two;
        }

        &:nth-child(3) {
            grid-area: three;
        }

        &:nth-child(4) {
            grid-area: four;
        }

        &:nth-child(5) {
            grid-area: five;
        }

        &:nth-child(6) {
            grid-area: six;
        }

        &:nth-child(7) {
            grid-area: seven;
        }
    }

    @media (min-width: $tablet) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "one one one one one one"
            "two two two four four four"
            "three three three four four four"
            "five five six six seven seven";
    }

    @media (min-width: $tablet) and (max-width: 1919px){
        grid-template-areas:
            "one one one one one one"
            "two two two four four four"
            "three three three four four four"
            "five five five six six six"
            "seven seven seven seven seven seven";
    }

    @media (max-width: $desktop) {
        padding: 20px;
    }

    [class*=MuiDivider] { &:last-of-type {display: none;} }

}

.alerts {
    @include base-card;
    @include button;

    max-width: calc(100vw - 40px);

    .slick {
        max-width: 100%;
    }

    .container {
        padding: 25px;

        > div {
            flex: 0 1 calc(33% - 10px);
        }

        .alert {
            border-radius: 5px;
            padding: 15px;
            background-color: $card-bg-secondary;
            display: flex;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                time {
                    color: $font-tertiary;
                    height: fit-content;
                }
            }

            p {
                margin: 10px 0;
            }

            author {
                color: white;
            }
        }
    }
}

.news {
    @include base-card;
    @include button;

    // width: 50%;

    .article {
        @include clearfix;
        // display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 20px;
    }

    .clearfix {
        @include clearfix;
    }

    .image {
        max-width: 100%;
        width: 33%;
        float: left;
        margin: 0 20px 20px 0;
    }

    .p {margin: 0;}

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            display: flex;
            gap: .5rem;
            align-items: center;
        }
    }

}

.events {
    @include base-card;
    @include button;

    // width: 50%;

    .article {
        @include clearfix;
        // display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 20px;
    }

    .clearfix {
        @include clearfix;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#ig-feed {
    max-height: 630px;
    overflow: hidden;
    border-radius: $border-radius;
    
    iframe {
        max-width: initial;
        width: 100%;
        margin: 0 !important;
        border-radius: $border-radius !important;
    }
}

#fb-feed {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: $card-bg;
    border-radius: $border-radius;

    @media (max-width: $tablet) {
        padding: 50px 0;
    }
}

#subscribe {
    @include base-card;

    .container {
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        p:first-of-type {margin-top: 0;}

        a {display: flex;}

        @include btn-alt;
    }
}